<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="component.update">

    <application >
        <service
            android:name="component.update.AppDownloadService"
            android:exported="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/fileprovider_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>
